
.responsiveLogin {
	display: none !important;
}

.navmenu-default, .navbar-default .navbar-offcanvas {
	    background-color: #34495E !important;
    border: none !important;
}

.navgo > li.active > a  {
	    background-color:#1ABC9C !important;
	        color: #FFFFFF !important;
}

.navgo > li > a {
	color: #FFFFFF !important;
	background-color: #405871 !important;
}

.navgo > li > ul > li > a {
	color: #FFFFFF !important;
	background-color: rgba(26,188,156,0.47) !important;
	margin-top: 3px;
}

.navgo-disc{
	color: #FFFFFF !important;
	background-color: rgba(52, 152, 219, 0.43) !important;
	margin-top: 3px;
}


.navgo a {
    color: #FFFFFF !important;
    
}



.navgo a:hover, .navgo li.active > a {
	background-color: #1ABC9C !important;
}

@media ( max-width : 992px) {
	
	.navbar-form {
	display: block !important;
	
	}
	
	.navbar-form-input{
	width: 80% !important;
	  display:table !important;
   margin:auto !important;
	
	}
	
	
	
		.responsiveLogin {
		display: block !important;
	}
	.padding-fix-right {
		padding-left: 0px;
	}
	.padding-fix-left {
		padding-right: 0px;
	}
}

@media ( max-width : 768px) {
	.padding-fix-right {
		padding-left: 0px;
		padding-right: 0px;
	}
	.padding-fix-left {
		padding-left: 0px;
		padding-right: 0px;
	}
}

.padding-fix-right {
	padding-left: 0px;
}

.padding-fix-left {
	padding-right: 0px;
}

#parallaxBar {
	height: 750px;
	background-color: #004c82;
	background: url(../img/bgparallax.png) 50% 0 fixed;
	position: relative;
}

#parallaxBar2 {
	height: 750px;
	background-color: #004c82;
	background: url(../img/bgparallax2.jpg) 50% 0 fixed;
	position: relative;
}

#parallaxBar3 {
	height: 750px;
	background-color: #004c82;
	position: relative;
	overflow: scroll;
}

.list-header {
	background-color: #1abc9c;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.ribbon {
	background:
		url("http://www.template-guide.com/preview/5304/images/slide_bg.jpg")
		repeat left top;
	padding: 0px 0px 0px 0px;
}



.top-landing::-webkit-scrollbar {
	
}

.text {
	text-shadow: 0px 0px 1px #000000;
	text-align: justify;
}

.headers {
	text-shadow: 0px 0px 1px #000000;
}

.tile-image {
	-webkit-filter: drop-shadow(0px 0px 1px #000);
	filter: drop-shadow(0px 0px 1px #000); /* Same syntax as box-shadow */
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 255px;
}

.dropdown-menu {
	padding: 5px 4px 5px 4px !important;;
}

.overlayDialog {
	background-color: white;
}

.ui-dialog-content {
	padding: 0px !important;
}

.ui-dialog-titlebar {
	padding-right: 20px !important;
}

.ui-dialog-titlebar-close {
	position: relative;
	margin-bottom: 10px;
}
.ui-dialog-titlebar-close:before {
	content: "\f00d";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #000;
	font-size: 18px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.ui-icon {
	text-indent: 0;
	padding: 0px;
	margin-right: 55px !important;
}

.ui-button-text {
	line-height: 0px !important;
	padding: 0px 0px 0px 13px !important;
	margin-left: 3px;
}

textarea {
	max-width: 100%;
}

.form-control[disabled] {
	color: #97a4a4;
}

.bootstrap-switch-info {
	background-color: #1ABC9C;
}

ul {
	list-style: none;
	padding: 0;
}

.alert .glyphicon {
	display: table-cell;
}

.alert div, .alert span {
	padding-left: 5px;
	display: table-cell;
}

#container {
	margin-left: 20px;
	margin-right: 20px;
}

.date[readonly]{
	background-color: #FFFFFF !important;
	color: #34495e !important;
	border-color: #bdc3c7 ;
	opacity: 1; 

}
.multiselect.form-control{
	border-color: #BDC3C7;
}

