@media ( max-width : 992px) {
	.padding-fix-right {
		padding-left: 0px;
	}
	.padding-fix-left {
		padding-right: 0px;
	}
}

@media ( max-width : 768px) {
	.padding-fix-right {
		padding-left: 0px;
		padding-right: 0px;
	}
	.padding-fix-left {
		padding-left: 0px;
		padding-right: 0px;
	}
}

.padding-fix-right{padding-left: 0px;}
.padding-fix-left{padding-right: 0px;}


#parallaxBar {
	height: 750px;
	background-color: #004c82;
	background: url(../img/bgparallax.png) 50% 0 fixed;
	position: relative;
}

#parallaxBar2 {
	height: 750px;
	background-color: #004c82;
	background: url(../img/bgparallax2.jpg) 50% 0 fixed;
	position: relative;
}

#parallaxBar3 {
	height: 750px;
	background-color: #004c82;
	position: relative;
	overflow: scroll;
}

.list-header{
	background-color: #1abc9c; 
}

.ribbon {
	background:
		url("http://www.template-guide.com/preview/5304/images/slide_bg.jpg")
		repeat left top;
	padding: 0px 0px 0px 0px;
}

.top-landing {
	padding-top: 60px;
	color: #1abc9c;
}

.top-landing::-webkit-scrollbar {
	
}

.text {
	text-shadow: 0px 0px 1px #000000;
	text-align: justify;
}

.headers {
	text-shadow: 0px 0px 1px #000000;
}

.tile-image {
	-webkit-filter: drop-shadow(0px 0px 1px #000);
	filter: drop-shadow(0px 0px 1px #000); /* Same syntax as box-shadow */
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 255px;
}

.dropdown-menu {
	padding: 5px 4px 5px 4px !important;;
}
.overlayDialog{
	background-color: white;
}
.ui-dialog-content{
	padding: 0px !important;
	}

.ui-dialog-titlebar{
	padding-right: 20px !important;
}
.ui-dialog-titlebar-close {
    position: relative;
    margin-bottom: 10px;
}
 
/*replace the content value with the
corresponding value from the list below*/
 
.ui-dialog-titlebar-close:before {
    content: "\f00d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.ui-icon  {
    text-indent: 0;
    padding: 0px;
    
    margin-right: 55px !important;
}
.ui-button-text{
	line-height: 0px !important;
	 padding: 0px 0px 0px 13px !important;
	 margin-left: 3px;

}
textarea{
	max-width: 100%;
}
.form-control[disabled]{
	color:#97a4a4;
}